nav{
    position: fixed!important;
    z-index: 100 !important;
    width: 100% !important;
    top:0;
    font-size:1.5em;
    letter-spacing: 2px;;

} 
.bg-dark{
    background-color:black!important;
}
li{
    background-color:black;
}
.border-separate{
    height:3px;
    background-color: rgb(185, 10, 10);
    position: fixed!important;
    z-index: 100 !important;
    width: 100% !important;
    top:63px;
}
.border-separate-light{
    height:3px;
    background-color:red;
    position: fixed!important;
    z-index: 100 !important;
    width: 100% !important;
    top:66px;
}

