<div class="limiter animated fadeIn">
        <div class="container container-register">
            <div class="wrap-login wrap-600 m-auto">
                <form  (ngSubmit)="onSubmit(formRegister)"
                #formRegister="ngForm"
                class="validate-form flex-sb flex-w">
              
                    <span class="form-title pb-5">
                      Register account
                    </span>
    
                    <span *ngIf="formRegister.submitted && formRegister.controls['email'].errors" 
                     class="text-danger animated fadeIn">El correo es obligatorio</span> 
                    <div class="wrap-input100 mb-4">
                        <input class="input100" 
                               type="email" 
                               required
                               email
                               name="email" 
                               [(ngModel)]="user.email"
                               placeholder="Email">
    
                        <span class="focus-input100"></span>
                    </div>

                   <span *ngIf="formRegister.submitted && formRegister.controls['userName'].errors" 
                   class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
                    <div class="wrap-input100 mb-4">
                        <input class="input100" 
                               type="text" 
                               name="userName" 
                               required
                               minlength="2"
                               [(ngModel)]="user.user"
                               placeholder="Usuario">
    
                        <span class="focus-input100"></span>
                    </div>
                    
                 <span *ngIf="formRegister.submitted && formRegister.controls['password'].errors" 
                 class="text-danger animated fadeIn">La contraseña debe de ser más de 6 caracteres</span>
                    <div class="wrap-input100 mb-4" data-validate = "Password is required">
                        <input class="input100"
                               type="password" 
                               name="password" 
                               required
                               minlength="6"
                               [(ngModel)]="user.password"
                               placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <div class="flex-sb-m w-full separate-top80 mb-5">
                        <div class="contact100-form-checkbox">
                            <input [(ngModel)]="remember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember user
                            </label>
                        </div>
    
                        <div>
                            <a class="answer" routerLink="/login" class="answer">
                               Do you already have an account? / Login
                            </a>
                        </div>
                    </div>
    
                    <div class="container-login100-form-btnmt-5">
                        <button type="submit" class="btn btn-lg btn-outline-primary custom100">
                           create
                        </button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
    
    