<div class="limiter animated fadeIn">
    <div class="container container-login">
        <div class="wrap-login wrap-600 m-auto">
            <form class="validate-form flex-sb flex-w" #formLogin="ngForm" (ngSubmit)="login(formLogin)">
                <span *ngIf="formLogin.submitted && formLogin.controls['userName'].errors" 
                  class="text-danger animated fadeIn">El nombre de usuario es obligatorio</span>
                  <span class="form-title pb-5">
                   Login
                  </span>
                  <div class="wrap-input100 mb-4">
                    <input class="input100" 
                           type="text" 
                           name="userName" 
                           required
                           minlength="2"
                           [(ngModel)]="loginModel.user"
                           placeholder="Username">

                    <span class="focus-input100"></span>
                </div>
                
               <span   *ngIf="formLogin.submitted && formLogin.controls['password'].errors" 
               class="text-danger animated fadeIn">La contraseña debe de ser más de 6 caracteres</span> 
                <div class="wrap-input100 mb-5" data-validate = "Password is required">
                    <input class="input100"
                           type="password" 
                           name="password" 
                           required
                           minlength="6"
                           [(ngModel)]="loginModel.password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full separate-top80 mb-5">
                    <div>
                        <input [(ngModel)]="remember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                           Remember user
                        </label>
                    </div>

                    <div>
                        <a class="answer" routerLink="/register" class="answer">
                           You do not have an account?
                        </a>
                    </div>
                </div>

              <div class="container-login100-form-btn mt-5 justify-content-center">
                    <button type="submit" class="btn btn-lg btn-outline-primary custom100">
                      login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
